@use "../global/variables.scss";
@use "../global/mixins.scss";

.faq {
  @include mixins.container-mobile;
  background-color: variables.$black;
  padding-bottom: 80px;
}

.faq__title {
  color: variables.$white;
  margin: 0;
  margin-bottom: 20px;
}

.faq__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #FFFFFF;
}

.faq__item {
  cursor: pointer;
  padding: 20px 0 19px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.faq__item-title {
  @include mixins.mplus1-regular;
  margin: 0;
  color: variables.$white;
  font-size: 24px;
  line-height: 35px;
}

.faq__item--active {
  .faq__item-description {
    display: block;
  }
}

.faq__item-description {
  display: none;
  @include mixins.mplus1p-regular;
  margin: 0;
  margin-top: 19px;
  color: variables.$white;
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: variables.$desktop-width) {
  .faq {
    @include mixins.container-desktop;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    gap: 102px;
  }
  .faq__list {
    flex-grow: 1;
  }
  .faq__item {
    padding: 30px 0 29px;
  }
  .faq__item-title {
    br {
      display: none;
    }
  }
  .faq__item-description {
    margin-top: 29px;
  }
}
