@use "../global/variables.scss";
@use "../global/mixins.scss";

.main-nav {
  position: absolute;
  // display: none;
  transition: transform 0.4s;
  transform: translateX(100%);
  right: 0;
  top: 0;
  padding: 120px 10px 10px 50px;
  width: 78%;
  height: 100vh;
  z-index: 3;
  background-color: variables.$black;
}

.main-nav--active {
  transform: translateX(0);
  background-color: variables.$black;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}

.main-nav__link {
  @include mixins.mplus1p-medium;
  color: variables.$white;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
}

.secondery-nav {
  margin: 0;
  margin-left: 32px;
  padding: 0;
  list-style-type: none;
  display: none;
  flex-direction: column;
  gap: 30px;
}

.secondery-nav__link {
  @include mixins.mplus1p-medium;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: variables.$white;
}

.main-nav__item:hover {
  .secondery-nav {
    display: flex;
    margin-top: 30px;
  }
}
